<!DOCTYPE html>
<html>
  <!-- start default.liquid -->
  <head>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div>
      {% if page.collection == "posts" %}
        {% include 'post.liquid' %}
      {% else %}
        {{ page.content }}
      {% endif %}
    </div>
  </body>
  <!-- end default.liquid -->
</html>
