<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <link rel="stylesheet" href="/css/main.css?v={{ timestamp }}">
    </head>
    <body>
        <h1>{{ path }}</h1>

        {{ content }}
    </body>
</html>

