[package]
name = "cobalt-bin"
version = "0.15.6"
authors = ["Benny Klotz <r3qnbenni@gmail.com>", "Johann Hofmann <mail@johann-hofmann.com>"]
description = "Static site generator written in Rust"
repository = "https://github.com/cobalt-org/cobalt.rs"
readme = "README.md"
keywords = ["static", "site", "generator"]
categories = ["command-line-utilities"]
license = "MIT"
edition = "2018"

[badges]
azure-devops = { project = "cobalt-org", pipeline = "cobalt.rs" }

[lib]
name="cobalt"

[[bin]]
name = "cobalt"
doc = false

[dependencies]
cobalt-config = { version = "0.16", path = "crates/config" }
clap = "2.33"
liquid = { version = "0.19.0", features = ["jekyll-filters"] }
deunicode = "1.0.0"
walkdir = "2.2"
chrono = "0.4"
log = "0.4"
env_logger = "0.7"
rss = "1.8"
jsonfeed = "0.2"
pulldown-cmark = {version="0.6", default-features = false}
ghp = "0.1"
regex = "1.1"
failure = "0.1"
exitfailure = "0.5"
lazy_static = "1.4"
itertools = "0.8"
ignore = "0.4"
serde = "1.0"
serde_yaml = "0.8"
serde_json = "1.0"
toml = "0.5.3"
normalize-line-endings = "0.3.0"
sitemap = "0.4"

tiny_http = { version = "0.6.2", optional = true }
notify = { version = "4", optional = true }

sass-rs = { version = "0.2", optional = true }

[dependencies.syntect]
# Pinning the version because onig_sys 69.2 forces clang on all platforms (even windows)
version = "=3.2.0"
optional = true
default-features = false
features =  ["parsing", "assets", "html", "dump-load-rs"]

[dev-dependencies]
assert_cmd = "0.12"
assert_fs = "0.13"
predicates = "1.0"
difference = "2.0"

[features]
default = ["syntax-highlight", "sass", "serve"]
unstable = []

serve = ["tiny_http", "notify"]
syntax-highlight = ["syntect"]
sass = ['sass-rs']
pagination-unstable = []

