[package]

name = "cobalt"
version = "0.2.0"
authors = ["Benny Klotz <r3qnbenni@gmail.com>", "Johann Hofmann"]

[dependencies]
getopts = "0.2.14"
liquid = "0.7"
walkdir = "0.1"
crossbeam = "0.1.5"
yaml-rust = "0.2.2"
chrono = "0.2"
log = "0.3"
env_logger = "0.3"
rss = "0.3.1"
pulldown-cmark = "0.0.7"
nickel = "0.8"
notify = "^2.5.0"
ghp = "0.1"

[dev-dependencies]
difference = "0.4"
