[package]
name = "cobalt-bin"
version = "0.12.1"
authors = ["Benny Klotz <r3qnbenni@gmail.com>", "Johann Hofmann <mail@johann-hofmann.com>"]
description = "Static site generator written in Rust"
repository = "https://github.com/cobalt-org/cobalt.rs"
readme = "README.md"
keywords = ["static", "site", "generator"]
categories = ["command-line-utilities"]
license = "MIT"

[badges]
travis-ci = { repository = "cobalt-org/cobalt.rs" }
appveyor = { repository = "cobalt-org/cobalt.rs" }

[lib]
name="cobalt"

[[bin]]
name = "cobalt"
doc = false

[dependencies]
clap = "2.31"
liquid = {version = "0.14.1", features=["serde"]}
unidecode = "0.3.0"
walkdir = "2.0"
chrono = "0.4"
log = "0.4"
env_logger = "0.5"
rss = "1.1"
jsonfeed = "0.2"
pulldown-cmark = {version="0.1", default-features = false}
notify = "4.0"
ghp = "0.1"
regex = "0.2"
clippy = {version = "0.0", optional = true}
error-chain = "0.11"
lazy_static = "1.0"
itertools = "0.7"
ignore = "0.4"
serde = "1.0"
serde_yaml = "0.7"
serde_json = "1.0"
toml = "0.4.6"
normalize-line-endings = "0.2.2"

[dependencies.sass-rs]
version = "0.2"
optional = true

[dependencies.hyper]
version = "0.10"
default-features = false

[dependencies.syntect]
version = "1.8"
optional = true
default-features = false
features =  ["parsing", "assets", "html", "static-onig", "dump-load"]

[dev-dependencies]
assert_cli = "0.5"
difference = "2.0"
tempdir = "0.3"

[features]
default = ["syntax-highlight"]
unstable = []

syntax-highlight = ["syntect"]
sass = ['sass-rs']
