[package]
name = "cobalt-bin"
version = "0.14.0"
authors = ["Benny Klotz <r3qnbenni@gmail.com>", "Johann Hofmann <mail@johann-hofmann.com>"]
description = "Static site generator written in Rust"
repository = "https://github.com/cobalt-org/cobalt.rs"
readme = "README.md"
keywords = ["static", "site", "generator"]
categories = ["command-line-utilities"]
license = "MIT"

[badges]
travis-ci = { repository = "cobalt-org/cobalt.rs" }
appveyor = { repository = "cobalt-org/cobalt.rs" }

[lib]
name="cobalt"

[[bin]]
name = "cobalt"
doc = false

[dependencies]
clap = "2.32"
liquid = "0.17.0"
liquid-error = "0.16.0"
deunicode = "0.4.1"
walkdir = "2.2"
chrono = "0.4"
log = "0.4"
env_logger = "0.5"
rss = "1.6"
jsonfeed = "0.2"
pulldown-cmark = {version="0.1", default-features = false}
notify = "4.0"
ghp = "0.1"
regex = "1.0"
error-chain = "0.12"
lazy_static = "1.1"
itertools = "0.7"
ignore = "0.4"
serde = "1.0"
serde_yaml = "0.8"
serde_json = "1.0"
toml = "0.4.8"
normalize-line-endings = "0.2.2"

[dependencies.sass-rs]
version = "0.2"
optional = true

[dependencies.hyper]
version = "0.10"
default-features = false

[dependencies.syntect]
version = "3.0"
optional = true
default-features = false
features =  ["parsing", "assets", "html", "dump-load-rs"]

[dev-dependencies]
assert_cmd = "0.10"
assert_fs = "0.10"
predicates = "1.0"
difference = "2.0"

[features]
default = ["syntax-highlight", "sass"]
unstable = []

syntax-highlight = ["syntect"]
sass = ['sass-rs']
pagination-unstable = []

