[package]
name = "cobalt-bin"
version = "0.15.4"
authors = ["Benny Klotz <r3qnbenni@gmail.com>", "Johann Hofmann <mail@johann-hofmann.com>"]
description = "Static site generator written in Rust"
repository = "https://github.com/cobalt-org/cobalt.rs"
readme = "README.md"
keywords = ["static", "site", "generator"]
categories = ["command-line-utilities"]
license = "MIT"
edition = "2018"

[badges]
travis-ci = { repository = "cobalt-org/cobalt.rs" }
appveyor = { repository = "cobalt-org/cobalt.rs" }

[lib]
name="cobalt"

[[bin]]
name = "cobalt"
doc = false

[dependencies]
clap = "2.33"
liquid = { version = "0.18.2", features = ["jekyll-filters"] }
deunicode = "1.0.0"
walkdir = "2.2"
chrono = "0.4"
log = "0.4"
env_logger = "0.6"
rss = "1.8"
jsonfeed = "0.2"
pulldown-cmark = {version="0.5", default-features = false}
notify = "4.0"
ghp = "0.1"
regex = "1.1"
failure = "0.1"
exitfailure = "0.5"
lazy_static = "1.3"
itertools = "0.8"
ignore = "0.4"
serde = "1.0"
serde_yaml = "0.8"
serde_json = "1.0"
toml = "0.5.1"
normalize-line-endings = "0.3.0"

[dependencies.sass-rs]
version = "0.2"
optional = true

[dependencies.hyper]
version = "0.10"
default-features = false

[dependencies.syntect]
version = "3.2"
optional = true
default-features = false
features =  ["parsing", "assets", "html", "dump-load-rs"]

[dev-dependencies]
assert_cmd = "0.11"
assert_fs = "0.11"
predicates = "1.0"
difference = "2.0"

[features]
default = ["syntax-highlight", "sass"]
unstable = []

syntax-highlight = ["syntect"]
sass = ['sass-rs']
pagination-unstable = []

