[package]

name = "cobalt-bin"
version = "0.4.0"
authors = ["Benny Klotz <r3qnbenni@gmail.com>", "Johann Hofmann <mail@johann-hofmann.com>"]
description = "Static site generator written in Rust"
repository = "https://github.com/cobalt-org/cobalt.rs"
readme = "README.md"
keywords = ["static", "site", "generator"]
license = "MIT"

[lib]
name="cobalt"

[[bin]]
name = "cobalt"
doc = false

[dependencies]
clap = "2.4.0"
liquid = "0.9"
walkdir = "0.1"
yaml-rust = "0.3"
chrono = "0.2"
log = "0.3"
env_logger = "0.3"
rss = "0.3.1"
pulldown-cmark = "0.0.8"
notify = "^2.5.0"
ghp = "0.1"
glob = "0.2.11"
regex = "0.1"
clippy = {version = "0.0", optional = true}

[dependencies.hyper]
version = "0.9"
default-features = false

[dependencies.error-chain]
git = "https://github.com/brson/error-chain.git"

[dev-dependencies]
assert_cli = "0.3"
lazy_static = "0.2"
difference = "0.4"
tempdir = "0.3"

[features]
unstable = []
dev = []
