[package]
name = "cobalt-config"
version = "0.18.2"
description = "Static site generator written in Rust"
readme = "../../README.md"
keywords = ["static", "site", "generator"]
categories = ["command-line-utilities"]
license.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true
include.workspace = true

[features]
unstable = []
preview_unstable = []

[dependencies]
liquid-core = "0.26"
time = "0.3"
log = "0.4"
regex = "1.8"
serde = "1.0"
serde_yaml = "0.9"
relative-path = { version = "1", features = ["serde"] }
once_cell = "1.17"
status = { version = "0.0.10", features = ["send_sync"] }
deunicode = "1.3"
itertools = "0.10"
