<!DOCTYPE html>
<html>
  <!-- start default.liquid -->
  <head>
    {% if page.is_post %}
      <title>{{ page.title }}</title>
    {% else %}
       <title>Cobalt.rs Blog</title>
    {% endif %}
  </head>
  <body>
    <div>
      {% if page.is_post %}
        {% include 'post.liquid' %}
      {% else %}
        {{ page.content }}
      {% endif %}
    </div>
  </body>
  <!-- end default.liquid -->
</html>
