<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <link href="static/example.css" rel="stylesheed" />
        <script src="static/example.js" type="javascript"></script>
    </head>
    <body>
        <h1>{{ page.permalink }}</h1>

        {{ page.content }}
    </body>
</html>

