layout: default.liquid
---
<div >
  <h2>Blog!</h2>
  <!--<br />-->
  <div>
    {% for post in collections.posts.pages %}
      <div>
        <h4>{{post.title}}</h4>
        <h4><a href="{{post.permalink}}">{{ post.title }}</a></h4>
        {{ post.excerpt }}
      </div>
    {% endfor %}
  </div>
</div>
