<!DOCTYPE html>
<html>
  <!-- start default.liquid -->
  <head>
    {% if is_post %}
      <title>{{ title }}</title>
    {% else %}
       <title>Cobalt.rs Blog</title>
    {% endif %}
  </head>
  <body>
    <div>
      {% if is_post %}
        {% include '_templates/post.liquid' %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </body>
  <!-- end default.liquid -->
</html>
