layout: default.liquid

title: Explicit excerpts work even in liquid
published_date: 2016-01-14 21:06:30 -0500
excerpt: <strong>explicit</strong> excerpt
excerpt_separator: <!-- more -->
---

<h1>Custom excerpt separator</h1>

<p>Welcome to the 7th post on cobalt.rs!</p>
<!-- more -->

<p>Something below the separator.</p>
