[package]
name = "cobalt-core"
version = "0.18.1"
authors = ["Ed Page <eopage@gmail.com>"]
description = "Static site generator written in Rust"
repository = "https://github.com/cobalt-org/cobalt.rs"
readme = "../../README.md"
keywords = ["static", "site", "generator"]
categories = ["command-line-utilities"]
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "1.60.0"  # MSRV

[features]
unstable = []
preview_unstable = []

[dependencies]
cobalt-config = { version = "=0.18.1", path = "..//config", features = ["unstable"] }
ignore = "0.4"
walkdir = "2.3"
liquid-core = "0.26"
log = "0.4"
serde = "1.0"
once_cell = "1.16"
status = { version = "0.0.10", features = ["send_sync"] }
relative-path = { version = "1", features = ["serde"] }
