[package]
name = "cobalt-core"
version = "0.18.3"
description = "Static site generator written in Rust"
readme = "../../README.md"
keywords = ["static", "site", "generator"]
categories = ["command-line-utilities"]
license.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true
include.workspace = true

[features]
unstable = []
preview_unstable = []

[dependencies]
cobalt-config = { version = "=0.18.3", path = "..//config", features = ["unstable"] }
ignore = "0.4"
walkdir = "2.3"
liquid-core = "0.26"
log = "0.4"
serde = "1.0"
once_cell = "1.17"
status = { version = "0.0.10", features = ["send_sync"] }
relative-path = { version = "1", features = ["serde"] }
